*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: woff;
    src: url('../fonts/IRANSans.eot') format('eot'),
        url('../fonts/IRANSans.woff') format('woff'),
        url('../fonts/IRANSans.woff2') format('woff2');
}

body{
    font-family: woff;
    height: 2000px;
}

a{
    text-decoration: none;
}

::placeholder{
    font-family: woff;
}

.header{
    max-width: 1528px;
    height: 68px;
    margin: auto;
    padding: 0px 16px;
}

.container{
    width: 1496px;
    height: 68px;
    padding: 12px 0px;
    display: flex;
}

.content-search{
    width: 1296.59px;
    height: 44px;
    display: flex;
    align-items: center;
}

.logo{
    width: 115px;
    height: 30px;
}

.search{
    width: 600px;
    height: 44px;
    padding: 0px 16px;
}

.icon{
    width: 24px;
    height: 24px;
}

.icon-hover{
    width: 24px;
    height: 24px;
}

.box{
    width: 100%;
    height: 44px;
    background-color: #efefef;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-hover{
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2aa5ad;
}

.searchBox{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
    text-align: right;
}

#searchBox-hover{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
}

#searchBox-hover:focus{
    outline: none;
}

.content-login{
    width: 199.41px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 134.41px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.login-card{
    width: 100.81px;
    height: 26.04px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.login-card-icon{
    width: 24px;
    height: 26.04px;
}

.login-card-text{
    width: 76.81px;
    height: 26.04px;
    font-size: 14px;
    color: #000;
}

.line{
    width: 1px;
    height: 24px;
    background-color: #e0e0e2;
    margin: 0px 12px;
}

.orders{
    width: 40px;
    height: 40px;
    padding: 8px;
}

.search-container{
    width: 568px;
    height: 170px;
    background-color: #fff;
    display: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-header{
    width: 568px;
    height: 44px;
    background: #fff;
    padding: 0px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* .bg-search-hover{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    display: none;
} */

.search-container-body{
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cardOne{
    width: 100%;
    height: 104.25px;
    padding: 8px 0px;
}

.cardOne-head{
    width: 100%;
    height: 48.25px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-head-box1{
    width: 40px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-text{
    width: 469.6px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-box2{
    width: 40px;
    height: 32.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.cardOne-items{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cardOne-items-one{
    width: 93.64px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #efefef;
    text-decoration: none;
    color: #000;
}

.cardOne-items-one-body{
    width: 92.038px;
    height: 38.4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 12px;
    display: flex;
}

.cardOne-items-one-body-text{
    width: 52.038px;
    height: 30.1px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-items-one-body-icon{
    width: 24px;
    height: 30.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

/* nav */
.nav{
    max-width: 1528px;
    height: 40px;
    margin: auto;
    background-color: #2aa5ad;
}
/* nav */