*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: woff;
    src: url('../fonts/IRANSans.eot') format('eot'),
        url('../fonts/IRANSans.woff') format('woff'),
        url('../fonts/IRANSans.woff2') format('woff2');
}

body{
    font-family: woff;
    height: 2000px;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #bbbbbb; 
  }

select,option{
    font-family: woff;
}

a{
    text-decoration: none;
}

::placeholder{
    font-family: woff;
}

#navbar {
    position: fixed;
    width: 100%;
    margin: auto;
    /* top: 68px; */
    transition: all .3s ease;
  }

.header{
    max-width: 1528px;
    height: 68px;
    margin: auto;
    padding: 0px 16px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.container{
    width: 1496px;
    height: 68px;
    padding: 12px 0px;
    display: flex;
}

.content-search{
    width: 1296.59px;
    height: 44px;
    display: flex;
    align-items: center;
}

.logo{
    width: 115px;
    height: 30px;
}

.search{
    width: 600px;
    height: 44px;
    padding: 0px 16px;
}

.icon{
    width: 24px;
    height: 24px;
}

.icon-hover{
    width: 24px;
    height: 24px;
}

.box{
    width: 100%;
    height: 44px;
    background-color: #efefef;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-hover{
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2aa5ad;
}

.searchBox{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
    text-align: right;
    display: flex;
}

#searchBox-hover{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
}

#searchBox-hover:focus{
    outline: none;
}

.content-login{
    width: 199.41px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 134.41px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.login-card{
    width: 100.81px;
    height: 26.04px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.login-card-icon{
    width: 24px;
    height: 26.04px;
}

.login-card-text{
    width: 76.81px;
    height: 26.04px;
    font-size: 14px;
    color: #000;
}

.line{
    width: 1px;
    height: 24px;
    background-color: #e0e0e2;
    margin: 0px 12px;
}

.orders{
    width: 40px;
    height: 40px;
    padding: 8px;
}

.search-container{
    display: none;
    width: 568px;
    height: 170px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    z-index: 100;
    
}

.search-header{
    width: 568px;
    height: 44px;
    background: #fff;
    padding: 0px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bg-search-hover{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    display: none;
    position: absolute;
    z-index: 80;
}

.search-container-body{
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cardOne{
    width: 100%;
    height: 104.25px;
    padding: 8px 0px;
}

.cardOne-head{
    width: 100%;
    height: 48.25px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-head-box1{
    width: 40px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-text{
    width: 469.6px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-box2{
    width: 40px;
    height: 32.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.cardOne-items{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cardOne-items-one{
    width: 93.64px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #efefef;
    text-decoration: none;
    color: #000;
}

.cardOne-items-one-body{
    width: 92.038px;
    height: 38.4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 12px;
    display: flex;
}

.cardOne-items-one-body-text{
    width: 52.038px;
    height: 30.1px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-items-one-body-icon{
    width: 24px;
    height: 30.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox img{
    display: none;
}

.show-search{
    /* display: none; */
    width: 600px;
    height: 44px;
    position: absolute;
}

/* header */

/* header media querys */
@media screen and (max-width:481px) {
    .logo{
        display: none;
    }

    .search-container{
        display: none;
    }

    .content-login{
        display: none;
    }

    .container{
        width: 100%;
    }

    .search{
        width: 359.2px;
    }
    
    .header{
        padding: 0px 8px;
    }

    .searchBox img{
        display: block;
    }

    .show-search{
        display: none;
    }

    /* .search-container{
        display: none;
    }

    .box{
        display: none;
    }

    .bg-search-hover{
        display: none;
    } */
}


/* header media querys */





/* nav */

.nav{
    background-color: #fff;
    max-width: 1528px;
    height: 40px;
    margin: auto;
    position: sticky;
    /* top: 68px; */
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-items{
    width: 62%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grouping-items{
    width: 142.05px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grouping-items-icon{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grouping-items-text{
    width: 124px;
    height: 25px;
    text-align: left;
}

.line{
    width: 1px;
    height: 16px;
    background-color: #efefef;
}

.nav-items-1{
    width: 115.9px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #737373;
    font-size: small;
}

/* .border::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .4s ease-in;
  }
  
  .border:hover::after {
    width: 100%;
  } */

.nav-items-1-icon{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.nav-items-1-text{
    width: 87.38px;
    height: 21px;
}

.grouping-items-hover-shadow{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 40px;
    right: 0;
    opacity: .3;
}

.grouping-items-hover{
    display: none;
    width: 71%;
    height: 550px;
    margin-right: 16px;
    background-color: yellowgreen;
    position: absolute;
    top: 40px;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.2px;
}

.grouping-items-container{
    width: 100%;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grouping-hover-menu{
    width: 199.2px;
    height: 550px;
    background-color: #efefef;
    top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
}

.grouping-hover-menu::-webkit-scrollbar{
    width: 10px;
}

.grouping-hover-menu::-webkit-scrollbar-track{
    background: #e8e8e8;
    border-radius: 5px;
}

.grouping-hover-menu::-webkit-scrollbar-thumb{
    background-color: #c2c2c2;
    border-radius: 5px;
}

.grouping-menu-item1{
    width: 100%;
    height: 50.038px;
    background-color: #fff;
    padding: 8px 12px;
}

.box1{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box1-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item2{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box2-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item3{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box3-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item4{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box4-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item5{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box5-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item6{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box6-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item7{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box7-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item8{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box8{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box8-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box8-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item9{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box9-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item10{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box10{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box10-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box10-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item11{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box11-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item12{
    width: 100%;
    height: 50.038px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box12{
    width: 175.2px;
    height: 26.04px;
    display: flex;
    justify-content: right;
}

.box12-icon{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box12-text{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-Specifications{
    width: 82%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    background-color: #fff;
}

.grouping-Specifications::-webkit-scrollbar{
    width: 10px;
}

.grouping-Specifications::-webkit-scrollbar-track{
    background: #e8e8e8;
    border-radius: 5px;
}

.grouping-Specifications::-webkit-scrollbar-thumb{
    background-color: #c2c2c2;
    border-radius: 5px;
}

.grouping-Specifications2{
    display: none;
    width: 82%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.grouping-Specifications2::-webkit-scrollbar{
    width: 10px;
}

.grouping-Specifications2::-webkit-scrollbar-track{
    background: #e8e8e8;
    border-radius: 5px;
}

.grouping-Specifications2::-webkit-scrollbar-thumb{
    background-color: #c2c2c2;
    border-radius: 5px;
}

.grouping-Specifications-item1{
    width: 100%;
    height: 550px;
}
.grouping-Specifications2-item1{
    width: 100%;
    height: 550px;
}

.Specifications-item1-head{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.Specifications2-item1-head{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Specifications-head-container{
    width: 170px;
    height: 25px;
    display: flex;
}
.Specifications2-head-container{
    width: 170px;
    height: 25px;
    display: flex;
}

.Specifications-item1-head-text{
    width: 150px;
    height: 25px;
    text-align: left;
    color: #23d1cb;
}
.Specifications2-item1-head-text{
    width: 150px;
    height: 25px;
    text-align: left;
    color: #23d1cb;
}

.Specifications-item1-head-icon{
    margin-right: 10px;
    width: 10px;
    height: 25px;
    color: aqua;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Specifications2-item1-head-icon{
    margin-right: 10px;
    width: 10px;
    height: 25px;
    color: aqua;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.location-text{
    height: 26.04px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.location-hover{
    height: 35px;
    padding: 10px;
    position: absolute;
    left: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    background: #3d505c;
    color: #fff;
    display: none;
    position: absolute;
    top: 45px;
    z-index: 99;
}

.Specifications-Products{
    width: 880px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Specifications2-Products{
    width: 880px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Specifications-Products-col1{
    width: 220px;
    height:600px;
}
.Specifications2-Products-col1{
    width: 220px;
    height:600px;
}

.Specifications-Products-col2{
    width: 220px;
    height:600px;
}
.Specifications2-Products-col2{
    width: 220px;
    height:600px;
}

.Specifications-Products-col3{
    width: 220px;
    height:600px;
}
.Specifications2-Products-col3{
    width: 220px;
    height:600px;
}

.Specifications-Products-col4{
    width: 220px;
    height:600px;
}
.Specifications2-Products-col4{
    width: 220px;
    height:600px;
}

.col1-titr-content{
    width: 100%;
    height: 38.1px;
    padding: 0 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.col2-titr-content{
    width: 100%;
    height: 38.1px;
    padding: 0 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.col1-titr-content:hover{
    color: #f11f19;
}

.col1-titr-content-line{
    width: 2px;
    height: 14px;
    background-color: #f11f19;
    margin-left: 10px;
}
.col2-titr-content-line{
    width: 2px;
    height: 14px;
    background-color: #f11f19;
    margin-left: 10px;
}

.col1-titr-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}
.col2-titr-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}

.col1-titr-content-less{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2-titr-content-less{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1-item-menu{
    width: 100%;
    height: 34.038px;
    padding: 4px 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
    color: #cacaca;
}
.col2-item-menu{
    width: 100%;
    height: 34.038px;
    padding: 4px 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
    color: #cacaca;
}

.col1-item-menu:hover{
    color: #f11f19;
}
.col2-item-menu:hover{
    color: #f11f19;
}




.location-popup{
    display: none;
}

.back-shadow-popup{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.container-popup{
    /* display: none; */
    width: 300px;
    /* height: 600px; */
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 40%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.label-state{
    display: block;
    width: 60%;
    height: 30px;
    background-color: #f11f19;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.location-chose-state{
    width: 60%;
    height: 20px;
    background: #f11f19;
    border: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.location-chose-state:focus{
    outline: none;
}

.location-chose-state option{
    width: 100px;
    height: 20px;
    background-color: #efefef;
    border-bottom: 1px solid #000;
}


.label-city{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ff8c88;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.location-chose-city{
    width: 100%;
    height: 20px;
    background: #e89e9a;
    border: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.location-chose-city:focus{
    outline: none;
}

.close-location-popup{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    cursor: pointer;
}






@media screen and (max-width:481px) {

    #navbar{
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        background-color: #cacaca;
        padding: 0;
    }

    .nav-items{
        display: none;
    }

    .location{
        display: none;
    }

    .tab1-responsive{
        width: 25%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab1-responsive-icon{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab1-responsive-text{
        height: 21.7px;
        text-align: center;
        font-size: 13px;
    }

    
    .tab2-responsive{
        width: 25%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab2-responsive-icon{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab2-responsive-text{
        height: 21.7px;
        text-align: center;
        font-size: 13px;
    }


    .tab3-responsive{
        width: 25%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab3-responsive-icon{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab3-responsive-text{
        height: 21.7px;
        text-align: center;
        font-size: 12px;
    }


    .tab4-responsive{
        width: 25%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tab4-responsive-icon{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab4-responsive-text{
        height: 21.7px;
        text-align: center;
        font-size: 12px;
    }


    .bkshadow-hover-responsive{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: .3;
        display: none;
    }

    .searchBox-hover-responsive{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }

    .searchBoxHover{
        width: 100%;
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: 2px solid #23d1cb;
    }

    .searchBoxHover-icon{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBoxHover-search{
        width: 300px;
        height: 24px;
    }

    #search{
        width: 100%;
        height: 24px;
        border: none;
    }

    #search:focus{
        outline: none;
    }

    .history-responsive{
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }

    .history-responsive-title{
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
    }

    .history-responsive-title-clock{
        width: 40px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8e8e8e;
    }
    
    .history-responsive-title-text{
        width: 255.2px;
        height: 28px;
    }
    
    .history-responsive-title-trash{
        width: 40px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8e8e8e;
    }
    



    /* i have bug in this part (bug is scroll & flex) */
    .history-responsive-body{
        width: 100%;
        height: 56px;
        background-color: #ff8c88;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        position: absolute;
        overflow-x: scroll;
        /* display: flex; */
        /* gap: 5px; */
        /* overflow-y: hidden; */
    }

    .history-responsive-body-item1{
        width: 86.21px;
        height: 40px;
        background-color: #0f4d73;
        margin-right: 56px;
    }

    .history-responsive-body-item2{
        width: 90.81px;
        height: 40px;
        background-color: #1b730f;
    }
    
    .history-responsive-body-item3{
        width: 158.85px;
        height: 40px;
        background-color: #73140f;
    }


}

/*---------------------------------------------------*/



@media screen and (min-width:481px) {
    .tab1-responsive{
        display: none;
    }
    .tab2-responsive{
        display: none;
    }
    .tab3-responsive{
        display: none;
    }
    .tab4-responsive{
        display: none;
    }
    .searchBox-hover-responsive{
        display: none;
    }
}


/* nav */




/* main */


.owl-item{
    /* margin-left: 0; */
}

.item{
    height: 400px;
    background-color: #f11f19;
    cursor: pointer;
}

.item img{
    height: 400px;
}

.owl-theme{
    margin-top: 50px;
}

.owl-nav{
    width: 10%;
    height: 40px;
    /* background: red; */
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.owl-prev{
    scale: 4;
}

.owl-next{
    scale: 4;
}

.owl-dots{
    position: absolute;
    left: 20px;
    bottom: 60px;
}



.point{
    max-width: 1336px;
    height: 95.86px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.point-item{
    width: 63px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.point-item1{
    border-radius: 50%;
}
.point-item1 img{
    border-radius: 50%;
}

.point-img{
    width: 52px;
    height: 52px;
    border-radius: 32%;
}

.point-img img{
    width: 52px;
    height: 52px;
}

.point-text{
    width: 100%;
    height: 23.86px;
    margin-top: 4px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-more{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #cacaca;
}

/* main */