*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: woff;
    src: url('../fonts/IRANSans.eot') format('eot'),
        url('../fonts/IRANSans.woff') format('woff'),
        url('../fonts/IRANSans.woff2') format('woff2');
}

body{
    font-family: woff;
    height: 2000px;
}

a{
    text-decoration: none;
}

::placeholder{
    font-family: woff;
}

.header{
    max-width: 1528px;
    height: 68px;
    margin: auto;
    padding: 0px 16px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.container{
    width: 1496px;
    height: 68px;
    padding: 12px 0px;
    display: flex;
}

.content-search{
    width: 1296.59px;
    height: 44px;
    display: flex;
    align-items: center;
}

.logo{
    width: 115px;
    height: 30px;
}

.search{
    width: 600px;
    height: 44px;
    padding: 0px 16px;
}

.icon{
    width: 24px;
    height: 24px;
}

.icon-hover{
    width: 24px;
    height: 24px;
}

.box{
    width: 100%;
    height: 44px;
    background-color: #efefef;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-hover{
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2aa5ad;
}

.searchBox{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
    text-align: right;
    display: flex;
}

#searchBox-hover{
    width: 512px;
    height: 24px;
    padding: 2px 10px;
    border: none;
}

#searchBox-hover:focus{
    outline: none;
}

.content-login{
    width: 199.41px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 134.41px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.login-card{
    width: 100.81px;
    height: 26.04px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.login-card-icon{
    width: 24px;
    height: 26.04px;
}

.login-card-text{
    width: 76.81px;
    height: 26.04px;
    font-size: 14px;
    color: #000;
}

.line{
    width: 1px;
    height: 24px;
    background-color: #e0e0e2;
    margin: 0px 12px;
}

.orders{
    width: 40px;
    height: 40px;
    padding: 8px;
}

.search-container{
    display: none;
    width: 568px;
    height: 170px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    z-index: 100;
    
}

.search-header{
    width: 568px;
    height: 44px;
    background: #fff;
    padding: 0px 16px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bg-search-hover{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    display: none;
}

.search-container-body{
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cardOne{
    width: 100%;
    height: 104.25px;
    padding: 8px 0px;
}

.cardOne-head{
    width: 100%;
    height: 48.25px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-head-box1{
    width: 40px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-text{
    width: 469.6px;
    height: 32.25px;
    display: flex;
    align-items: center;
    text-align: right;
}

.cardOne-head-box2{
    width: 40px;
    height: 32.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.cardOne-items{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cardOne-items-one{
    width: 93.64px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #efefef;
    text-decoration: none;
    color: #000;
}

.cardOne-items-one-body{
    width: 92.038px;
    height: 38.4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 12px;
    display: flex;
}

.cardOne-items-one-body-text{
    width: 52.038px;
    height: 30.1px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOne-items-one-body-icon{
    width: 24px;
    height: 30.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox img{
    display: none;
}

/* header */

/* header media querys */
@media screen and (max-width:481px) {
    .logo{
        display: none;
    }

    .search-container{
        display: none;
    }

    .content-login{
        display: none;
    }

    .container{
        width: 100%;
    }

    .search{
        width: 359.2px;
    }
    
    .header{
        padding: 0px 8px;
    }

    .searchBox img{
        display: block;
    }
}
/* header media querys */





/* nav */

.nav{
    max-width: 1528px;
    height: 40px;
    margin: auto;
    background-color: #2aa5ad;
    position: sticky;
    top: 68px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.nav-items{
    width: 62%;
    height: 40px;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grouping-items{
    width: 142.05px;
    height: 40px;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grouping-items-icon{
    width: 25px;
    height: 25px;
    background-color: rgb(183, 39, 14);
}

.grouping-items-text{
    width: 124px;
    height: 25px;
    text-align: left;
}

.line{
    width: 1px;
    height: 16px;
    background-color: #efefef;
}

.nav-items-1{
    width: 115.9px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-1-icon{
    width: 18px;
    height: 18px;
    background: coral;
}

.nav-items-1-text{
    width: 87.38px;
    height: 21px;
}

.grouping-items-hover-shadow{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 40px;
    right: 0;
    opacity: .3;
}

.grouping-items-hover{
    display: none;
    width: 71%;
    height: 550px;
    margin-right: 16px;
    background-color: yellowgreen;
    position: absolute;
    top: 40px;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.grouping-hover-menu{
    width: 199.2px;
    height: 550px;
    background-color: #f5f5f5;
    top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
}

.grouping-menu-item1{
    width: 100%;
    height: 50.038px;
    background-color: #fff;
    padding: 8px 12px;
}

.box1{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box1-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item2{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box2-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item3{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box3-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item4{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box4-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item5{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box5-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item6{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box6-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item7{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box7-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item8{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box8{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box8-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box8-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item9{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box9-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item10{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box10{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box10-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box10-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item11{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box11-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box11-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-menu-item12{
    width: 100%;
    height: 50.038px;
    background-color: #126b71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box12{
    width: 175.2px;
    height: 26.04px;
    background-color: aqua;
    display: flex;
    justify-content: right;
}

.box12-icon{
    margin-left: 8px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box12-text{
    background: yellow;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
}

.grouping-Specifications{
    width: 81.1%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background-color: #f11f19;
}

.grouping-Specifications2{
    display: none !important;
    width: 81.1%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background-color: #f11f19;
}

.grouping-Specifications-item1{
    width: 100%;
    height: 550px;
}

.Specifications-item1-head{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Specifications-head-container{
    width: 170px;
    height: 25px;
    display: flex;
}

.Specifications-item1-head-text{
    width: 150px;
    height: 25px;
    text-align: left;
    color: #23d1cb;
}

.Specifications-item1-head-icon{
    margin-right: 10px;
    width: 10px;
    height: 25px;
    color: aqua;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location{
    width: 173.13px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-icon{
    width: 20px;
    height: 20px;
}

.location-text{
    width: 145.13px;
    height: 26.04px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.location-hover{
    width: 145.13px;
    height: 35px;
    position: absolute;
    left: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    background: #3d505c;
    color: #fff;
    display: none;
    position: absolute;
    top: 45px;
    z-index: 99;
}

.location-hover p{
    margin-top: 6px;
}

.Specifications-Products{
    width: 880px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Specifications-Products-col1{
    width: 220px;
    height:600px;
}

.Specifications-Products-col2{
    width: 220px;
    height:600px;
}

.Specifications-Products-col3{
    width: 220px;
    height:600px;
}

.Specifications-Products-col4{
    width: 220px;
    height:600px;
}

.col1-titr-content{
    width: 100%;
    height: 38.1px;
    padding: 0 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.col1-titr-content:hover{
    color: #f11f19;
}

.col1-titr-content-line{
    width: 2px;
    height: 14px;
    background-color: #f11f19;
    margin-left: 10px;
}

.col1-titr-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}

.col1-titr-content-less{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1-item-menu{
    width: 100%;
    height: 34.038px;
    padding: 4px 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 13px;
    color: #cacaca;
}

.col1-item-menu:hover{
    color: #f11f19;
}




.location-popup{
    display: none;
}

.back-shadow-popup{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.container-popup{
    /* display: none; */
    width: 300px;
    /* height: 600px; */
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 40%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.label-state{
    display: block;
    width: 50%;
    height: 30px;
    background-color: #f11f19;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.location-chose-state{
    width: 50%;
    height: 20px;
    background: #f11f19;
    border: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.location-chose-state:focus{
    outline: none;
}

.location-chose-state option{
    width: 100px;
    height: 20px;
    background-color: #efefef;
    border-bottom: 1px solid #000;
}


.label-city{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ff8c88;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.location-chose-city{
    width: 100%;
    height: 20px;
    background: #e89e9a;
    border: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.location-chose-city:focus{
    outline: none;
}

.close-location-popup{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    cursor: pointer;
}



/* nav */